footer{
    height:6rem; padding:10px 20px; display: flex; align-items: center; justify-content: space-between; background: #111; position: absolute; left:0; bottom:0; right:0;
    > .copy{font-size:13px; color:#fff;}
}