.mainCon{
    height:100dvh; background: #111; display:flex; flex-direction: column; justify-content: center; align-items:center; color:#fff; font-family:'Poppins'; position: relative; z-index: 1;

    > .sTit{font-size:3rem; font-weight: 500; line-height: 1; margin-bottom:10px;}
    > .mTit{font-size:10rem; font-weight:600; line-height: 1; margin-bottom:30px;}
    > .txt{font-size:15px; text-align: center; font-weight: 500; font-family: "Noto Sans KR";}
}

.mainCon > .scrollIcon{position: absolute; left:50%; transform:translateX(-50%); bottom:20px; width:15px; height:40px; display:inline-block; border:1px solid #fff; border-radius: 10px;}
.mainCon > .scrollIcon::after{content: "\e942"; font-family: "xeicon"; display:inline-block; font-size:12px;  color:#fff; font-weight:700; position:absolute; left:50%; transform:translateX(-50%); top:0px; animation:slideDown 2s 1s infinite;}

@keyframes slideDown {
    from {top:0px;}
    to {top:25px;}
  }